<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/app.css}">

    <title th:text="${title}"></title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h1>Upload Image</h1>
    <form th:action="@{/image/save}" method="post" enctype="multipart/form-data">
        <input type="file" name="profile_image"/>
        <button type="submit">Submit</button>
    </form>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    <div>
        <img th:src="@{'/uploads/test.png'}" alt="Uploaded Image" height="200px"/>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
